body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}


main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}


#about p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


